doc/.ipynb_checkpoints
posts/results/
posts/.ipynb_checkpoints
.ipynb_checkpoints
.doit.db
cache*.pyc
cache/*
cache
posts/.ipynb_checkpoints
output/*
lftpdeploy.sh
site/output/*
MANIFEST
build
dist
.DS*
.@__thumb
*pyc
*pyo
bordel/*
posts/test.ipynb
posts/test.meta
lftpdeploy.sh
.doit.db
*.pyc
cache/*
posts/.ipynb_checkpoints
output/*
