Cython==0.13
Django==1.7
Jinja2==2.7.3
MarkupSafe==0.23
MotionClouds==0.2
NeuroTools==0.2.0
Pillow==2.6.0
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
PyPrind==2.6.1
apptools==4.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
configobj==5.0.6
envisage==4.4.0
glumpy==0.2.1
gnureadline==6.3.3
image==1.3.3
ipython==2.3.0
matplotlib==1.4.0
mayavi==4.3.1
nose==1.3.4
numexpr==2.4
numpy==1.9.0
pandas==0.14.1
psutil==2.1.3
pyface==4.4.0
pygame==1.9.1release
pyparsing==2.0.2
python-dateutil==2.2
pytz==2014.7
pyzmq==14.3.1
scipy==0.14.0
six==1.8.0
tables==3.1.1
tornado==4.0.2
traits==4.5.0
traitsui==4.4.0
vboxapi==1.0
wsgiref==0.1.2
